.text-teal { color: var(--teal); }
.text-slate { color: var(--slate); }
.text-lightest-slate { color: var(--lightest-slate); }
.text-center { text-align: center; }
.text-lg { font-size: 18px; }
.font-mono { font-family: "Roboto Mono", monospace; }

.mt-1 { margin-top: 10px; }
.mt-3 { margin-top: 30px; }
.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }
.mb-3 { margin-bottom: 30px; }
.ml-0 { margin-left: 0; }
.mr-1 { margin-right: 15px; }

.d-flex { display: flex; }
.justify-center { justify-content: center; }
.align-center { align-items: center; }
.flex-wrap { flex-wrap: wrap; }

.max-w-800 { max-width: 800px; margin: 0 auto; }
.w-full { width: 100%; }

.btn-sm { padding: 8px 16px; font-size: 12px; }
.btn-lg { padding: 18px 36px; font-size: 16px; }
